  .chemical-table {
    --mat-table-row-item-outline-color: #fff;
    --mat-table-row-item-outline-width: 0.2rem;
    background-color: #F5EFFF;
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }

