.chemical-table {
  --mat-table-row-item-outline-color: #fff;
  --mat-table-row-item-outline-width: 0.2rem;
  background-color: #f5efff;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
